DATABASE_URL=""
TRIGGER_API_KEY=""
ENVIRONMENT="development"
GOOGLE_CLIENT_ID=""
G00GLE_CLIENT_SECRET=""
API_URL="http://localhost:3000"
APP_URL="http://localhost:5173"
PLUNK_API_KEY="sk_"
EMAIL_DOMAIN=""
